# Основные зависимости
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0
python-dotenv==1.0.0
gunicorn

# Производительность
orjson
uvloop
httptools

# Утилиты
attrs
regex

# Разработка и тестирование
pytest
pytest-asyncio
pytest-cov

# Линтинг и форматирование
ruff
black
isort
mypy
httpx

# Зависимости для NER модели (совместимые с NumPy 2.0)
transformers
torch
tokenizers
numpy

#SpaCy
spacy[cuda12x]==3.8.6